
# TODO: these requirements need to be cleaned up!

# MISSING DEPS - these are imported in /research, but not included here, in requirements.txt OR in requirements-experiment.txt
# =============

# github
# matplotlib
# psutil


ray>=1.6.0
ruck==0.2.4

seaborn>=0.11.0
pandas>=1.3.0
cachier>=1.5.0

statsmodels>=0.13.0  # required for seaborn, to estimate outliers in regression plots
