numpy
pandas
scikit-learn

matplotlib
seaborn
tqdm

pillow
imageio
moviepy
h5py

submitit
wandb
coloredlogs
gin-config
pytest

torch
torchvision
torch-optimizer
pytorch-lightning

tensorflow-gpu
tensorboard