defaults:
  - _data_type_: gt

name: dsprites_imagenet_bg_60

data:
  _target_: research.code.dataset.data.DSpritesImagenetData
  visibility: 60
  mode: bg
  data_root: ${dsettings.storage.data_root}
  prepare: ${dsettings.dataset.prepare}
  in_memory: ${dsettings.dataset.try_in_memory}

transform:
  _target_: disent.dataset.transform.ToImgTensorF32
  mean: ${dataset.meta.vis_mean}
  std: ${dataset.meta.vis_std}

meta:
  x_shape: [3, 64, 64]
  vis_mean: [0.31676960943447674, 0.29877166834408025, 0.2698556821388113]
  vis_std: [0.19745897110349, 0.1986606891520453, 0.203808842880044]
