defaults:
  - _data_type_: gt

name: xysquares_rgb

data:
  _target_: disent.dataset.data.XYSquaresData
  square_size: 8     # AFFECTS: mean and std
  image_size: 64     # usually ok to adjust
  grid_size: 8       # usually ok to adjust
  grid_spacing: 8    # usually ok to adjust
  num_squares: 3     # AFFECTS: mean and std
  rgb: TRUE          # AFFECTS: mean and std

transform:
  _target_: disent.dataset.transform.ToImgTensorF32
  mean: ${dataset.meta.vis_mean}
  std: ${dataset.meta.vis_std}

meta:
  x_shape: [3, 64, 64]
  vis_mean: [0.015625, 0.015625, 0.015625]
  vis_std: [0.12403473458920855, 0.12403473458920854, 0.12403473458920854]
