
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700');

* {
    transition: all 0.25s ease;
}

html, body {
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.row-image {
    margin-left: 4px;
}

.row-heading {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
}

.no-images-message {
    text-align: center;
    color: red;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
}

