defaults:
  - _data_type_: random

name: mask_dthr_shapes3d

data:
  _target_: disent.dataset.wrapper.DitheredDataset
  dither_n: 2
  keep_ratio: 0.5
  gt_data:
    _target_: disent.dataset.data.Shapes3dData
    data_root: ${dsettings.storage.data_root}
    prepare: ${dsettings.dataset.prepare}
    in_memory: ${dsettings.dataset.try_in_memory}

transform:
  _target_: disent.dataset.transform.ToImgTensorF32
  mean: ${dataset.meta.vis_mean}
  std: ${dataset.meta.vis_std}

meta:
  x_shape: [3, 64, 64]
  vis_mean: [0.502584966788819, 0.5787597566089667, 0.6034499731859578]
  vis_std: [0.2940814043555559, 0.3443979087517214, 0.3661685981524748]
