defaults:
  - _data_type_: random

name: mask_dthr_dsprites

data:
  _target_: disent.dataset.wrapper.DitheredDataset
  dither_n: 2
  keep_ratio: 0.5
  gt_data:
    _target_: disent.dataset.data.DSpritesData
    data_root: ${dsettings.storage.data_root}
    prepare: ${dsettings.dataset.prepare}
    in_memory: ${dsettings.dataset.try_in_memory}

transform:
  _target_: disent.dataset.transform.ToImgTensorF32
  mean: ${dataset.meta.vis_mean}
  std: ${dataset.meta.vis_std}

meta:
  x_shape: [1, 64, 64]
  vis_mean: [0.042494423521889584]
  vis_std: [0.19516645880626055]
